# Dependencies
node_modules/

# Build output
dist/
api/*.js
api/*.d.ts
api/*.js.map
api/*.d.ts.map

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Testing
coverage/
.vercel
